// Dark Theme
:root {
    --color-page-background: #{$primary-bg};
    --color-page-background-reversed: #{$color-white};
    --color-text: #{$color-black};
    --color-text-reverse: #{$color-white};
    --color-border: #{$color-black};
    --color-article-background: #{$color-white};
    --color-article-shadow: #{$color-gray-dark};
    --color-body-bg: #{$body-light};
    --color-nav-bg: #{$nav-light};
    --color-box-shadow: #{$box-shadow-light};
    --color-primary: #{$color-red};
    --color-primary-text: #{$color-white};
    --color-order-now-button: #{$accent-light-bg};
    --color-accent-theme: #{$accent-bg};
    --color-accent-theme-reversed: #{$accent-light-bg};
    --color-black-switch: #{$color-light-black};
  }
  
.dark {
    --color-page-background: #{$color-white};
    --color-page-background-reversed: #{$primary-bg};
    --color-text: #{$color-white};
    --color-text-reverse: #{$color-black};
    --color-border: #{$color-white};
    --color-article-background: #{$color-gray-light};
    --color-article-shadow: #{$color-gray-light};
    --color-body-bg: #{$body-dark};
    --color-nav-bg: #{$nav-dark};
    --color-box-shadow: #{$box-shadow-dark};
    --color-primary: #{$body-dark};
    --color-primary-text: #{$color-red};
    --color-order-now-button: #{$color-transparent};
    --color-accent-theme: #{$accent-light-bg};
    --color-accent-theme-reversed: #{$accent-bg};
    --color-black-switch: #{$color-black};
}

// Themed Colors
$bg-primary-themed: var(--color-page-background);
$bg-primary-themed-reversed: var(--color-page-background-reversed);
$font-color-primary-themed: var(--color-text);
$font-color-primary-themed-reverse: var(--color-text-reverse);
$body-bg-color-themed: var(--color-body-bg);
$nav-bg-color-themed: var(--color-nav-bg);
$box-shadow-themed: var(--color-box-shadow);
$primary-bg-themed: var(--color-primary);
$primary-text-color-themed: var(--color-primary-text);
$border-color-themed: var(--color-article-shadow);
$order-now-button-color-themed: var(--color-order-now-button);
$accent-color-themed: var(--color-accent-theme);
$accent-color-themed-reversed: var(--color-accent-theme-reversed);
$black-to-light-black: var(--color-black-switch);