// Responsive UI

@mixin breakpoint($point) {
    @if $point == mobile {
        @media screen and (min-width: 320px) { @content; }
    }
    @if $point == tablet {
        @media screen and (min-width: 720px) { @content; }
    }
    @if $point == tablet-large {
        @media screen and (min-width: 1000px) { @content; }
    }
    @if $point == laptop {
        @media screen and (min-width: 1366px) { @content; }
    }
    @if $point == desktop {
        @media screen and (min-width: 1920px) { @content; }
    }
}

@mixin flexRowCentered() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexRow() {
    display: flex;
    flex-direction: row;
}

@mixin flexRowReverse() {
    display: flex;
    flex-direction: row-reverse;
}

@mixin flexColumnCentered() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin fontPrimary() {
    font-family: $font-primary;
}

@mixin fontPrimaryBold() {
    font-family: $font-primary;
    font-weight: 800;
}

@mixin animateWidth($from, $to) {
    @keyframes animateWidth {
        0% {
            width: $from;
        }
        100% {
            width: $to;
        }
    }
}

@mixin fadeIn($direction) {
    @if $direction == simple {
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0;
            }
            50% {
                opacity: 0.75;;
            }
            100% {
                opacity: 1;
            }
        }
    }
    @if $direction == top {
        @keyframes fadeInTop {
            0% {
                opacity: 0;
                transform: translate3d(0, -10%, 0);
            }
            25% {
                opacity: 0.25;
            }
            50% {
                opacity: 0.5;
            }
            75% {
                opacity: 0.75;
            }
            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
    @if $direction == right {
        @keyframes fadeInRight {
            0% {
                opacity: 0;
                transform: translate3d(10%, 0, 0);
            }
            25% {
                opacity: 0.25;
            }
            50% {
                opacity: 0.5;
            }
            75% {
                opacity: 0.75;
            }
            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
    @if $direction == bottom {
        @keyframes fadeInBottom {
            0% {
                opacity: 0;
                transform: translate3d(0, 10%, 0);
            }
            25% {
                opacity: 0.25;
            }
            50% {
                opacity: 0.5;
            }
            75% {
                opacity: 0.75;
            }
            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
    @if $direction == left {
        @keyframes fadeInLeft {
            0% {
                opacity: 0;
                transform: translate3d(-10%, 0, 0);
            }
            25% {
                opacity: 0.25;
            }
            50% {
                opacity: 0.5;
            }
            75% {
                opacity: 0.75;
            }
            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}