:root {
  --color-page-background: #212121;
  --color-page-background-reversed: #dbdbd5;
  --color-text: black;
  --color-text-reverse: #dbdbd5;
  --color-border: black;
  --color-article-background: #dbdbd5;
  --color-article-shadow: rgba(0, 0, 0, 0.15);
  --color-body-bg: rgba(219, 219, 213, 0.15);
  --color-nav-bg: lightgrey;
  --color-box-shadow: #dbdbd5;
  --color-primary: #212121;
  --color-primary-text: #dbdbd5;
  --color-order-now-button: #2ec4b6;
  --color-accent-theme: #ed3131;
  --color-accent-theme-reversed: #2ec4b6;
  --color-black-switch: rgba(0, 0, 0, 0.2);
}

.dark {
  --color-page-background: #dbdbd5;
  --color-page-background-reversed: #212121;
  --color-text: #dbdbd5;
  --color-text-reverse: black;
  --color-border: #dbdbd5;
  --color-article-background: rgba(219, 219, 213, 0.15);
  --color-article-shadow: rgba(219, 219, 213, 0.15);
  --color-body-bg: #121212;
  --color-nav-bg: #3c3c3c;
  --color-box-shadow: black;
  --color-primary: #121212;
  --color-primary-text: #212121;
  --color-order-now-button: transparent;
  --color-accent-theme: #2ec4b6;
  --color-accent-theme-reversed: #ed3131;
  --color-black-switch: black;
}

.specifications-content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 720px) {
  .specifications-content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.specifications-content-wrap .illustration {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  padding: 1rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .specifications-content-wrap .illustration {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 720px) {
  .specifications-content-wrap .illustration {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.specifications-content-wrap .illustration img {
  -webkit-animation: fadeInTop 1.5s ease-in both;
          animation: fadeInTop 1.5s ease-in both;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) {
  .specifications-content-wrap .illustration img {
    width: 180px;
    height: 350px;
  }
}

@media screen and (min-width: 720px) {
  .specifications-content-wrap .illustration img {
    width: 220px;
    height: 420px;
    float: right;
  }
}

@media screen and (min-width: 1366px) {
  .specifications-content-wrap .illustration img {
    width: 330px;
    height: 600px;
  }
}

.specifications-content-wrap .specifications-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  font-variant: small-caps;
}

@media screen and (min-width: 320px) {
  .specifications-content-wrap .specifications-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 720px) {
  .specifications-content-wrap .specifications-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.specifications-content-wrap .specifications-wrap .specifications-title {
  color: #2ec4b6;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-variant-caps: small-caps;
}

@media screen and (min-width: 320px) {
  .specifications-content-wrap .specifications-wrap .specifications-title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1366px) {
  .specifications-content-wrap .specifications-wrap .specifications-title {
    font-size: 2em;
  }
}

.specifications-content-wrap .specifications-wrap .specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .specifications-content-wrap .specifications-wrap .specifications {
    margin-top: 1.5rem;
  }
}

.specifications-content-wrap .specifications-wrap .specifications .specifications-keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.specifications-content-wrap .specifications-wrap .specifications .specifications-keywords span {
  color: #2ec4b6;
  font-size: 1.125em;
  margin-right: 1rem;
}

@media screen and (min-width: 720px) {
  .specifications-content-wrap .specifications-wrap .specifications .specifications-keywords span {
    font-size: 0.96em;
  }
}

@media screen and (min-width: 1366px) {
  .specifications-content-wrap .specifications-wrap .specifications .specifications-keywords span {
    font-size: 1.5em;
  }
}

.specifications-content-wrap .specifications-wrap .specifications .specifications-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.specifications-content-wrap .specifications-wrap .specifications .specifications-values span {
  font-size: 1.125em;
}

@media screen and (min-width: 720px) {
  .specifications-content-wrap .specifications-wrap .specifications .specifications-values span {
    font-size: 0.96em;
  }
}

@media screen and (min-width: 1366px) {
  .specifications-content-wrap .specifications-wrap .specifications .specifications-values span {
    font-size: 1.5em;
  }
}

.about-content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 320px) {
  .about-content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .about-content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
}

.about-content-wrap .left-side {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (min-width: 320px) {
  .about-content-wrap .left-side {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 720px) {
  .about-content-wrap .left-side {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 320px) {
  .about-content-wrap .right-side {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .about-content-wrap .right-side {
    width: 50%;
    margin: 0 auto;
  }
}

.about-content-wrap .right-side img {
  margin: 1rem;
  padding: 1rem;
  border-radius: 50px;
}

@media screen and (min-width: 320px) {
  .about-content-wrap .right-side img {
    width: 350px;
  }
}

@media screen and (min-width: 720px) {
  .about-content-wrap .right-side img {
    width: 320px;
  }
}

.about-content-wrap .right-side .image-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 1rem;
  padding: 0 1rem;
}

.about-content-wrap .right-side .image-subtitle {
  font-size: 1.5em;
  margin: 0.5rem;
  padding: 0 1rem;
}

.contacts-content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 320px) {
  .contacts-content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-content-wrap {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-content-wrap .map {
  width: 100%;
  border-radius: 50px;
}

@media screen and (min-width: 320px) {
  .contacts-content-wrap .map {
    height: 500px;
  }
}

@media screen and (min-width: 720px) {
  .contacts-content-wrap .map {
    height: 600px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts-content-wrap .map {
    height: 600px;
    margin-right: 3rem;
  }
}

.contacts-content-wrap .contacts-container {
  text-align: left;
}

@media screen and (min-width: 320px) {
  .contacts-content-wrap .contacts-container {
    font-size: 1.125em;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 720px) {
  .contacts-content-wrap .contacts-container {
    font-size: 1.5em;
  }
}

.contacts-content-wrap .contacts-container div {
  border-left: 1px solid var(--color-text);
}

.contacts-content-wrap .contacts-container div li {
  padding: 0.5rem;
  list-style: none;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  background-color: var(--color-page-background-reversed);
  color: var(--color-text);
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Spartan", sans-serif;
}

body .button {
  border: 2px solid var(--color-accent-theme-reversed);
  padding: 1rem;
  padding-top: 1.2rem;
  background-color: var(--color-order-now-button);
  color: #dbdbd5;
  font-size: 1.125em;
  border-radius: 50px;
  font-family: "Spartan", sans-serif;
}

@media screen and (min-width: 320px) {
  body .button {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 720px) {
  body .button {
    margin-top: 15rem;
  }
}

body .button:hover {
  background-color: #ed3131;
  cursor: pointer;
}

* {
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  color: #ed3131;
}

.active-nav-link {
  font-weight: bolder;
}

.not-localized {
  display: none;
}

.nav-wrap {
  padding-bottom: 0;
}

@media screen and (min-width: 320px) {
  .nav-wrap {
    padding: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .nav-wrap {
    padding: 3rem;
  }
}

@media screen and (min-width: 320px) {
  .nav-wrap .nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 720px) {
  .nav-wrap .nav {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-wrap .nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .nav-wrap .nav .logo {
    margin: 20px;
  }
}

.nav-wrap .nav .ul-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 320px) {
  .nav-wrap .nav .ul-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 720px) {
  .nav-wrap .nav .ul-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.nav-wrap .nav .ul-nav li {
  padding: 1rem;
  font-variant-caps: all-small-caps;
  font-weight: normal;
}

@media screen and (min-width: 320px) {
  .nav-wrap .nav .ul-nav li {
    font-size: 0.88em;
  }
}

@media screen and (min-width: 1366px) {
  .nav-wrap .nav .ul-nav li {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 320px) {
  .nav-wrap .nav .buttons-wrap {
    display: none;
  }
  .nav-wrap .nav .buttons-wrap-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-wrap .nav .toggle-theme-button div {
    height: 30px;
    width: 30px;
    background-color: transparent;
    -webkit-box-shadow: -5px 5px 0 0px var(--color-text);
            box-shadow: -5px 5px 0 0px var(--color-text);
    border-radius: 50%;
    margin: 0 0.5rem;
    -webkit-transform: scaleX(-1) rotate(10deg) translate(30%, -20%);
            transform: scaleX(-1) rotate(10deg) translate(30%, -20%);
  }
}

@media screen and (min-width: 720px) {
  .nav-wrap .nav .buttons-wrap {
    display: block;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-wrap .nav .buttons-wrap-mobile {
    display: none;
  }
  .nav-wrap .nav .toggle-theme-button div {
    -webkit-transform: translate(20%, -20%);
            transform: translate(20%, -20%);
  }
}

.nav-wrap .nav .language-select {
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--color-page-background);
  background-color: transparent;
  border: 1px solid var(--color-page-background);
  font-family: "Spartan", sans-serif;
}

.content-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 320px) {
  .content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 720px) {
  .content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.content-wrap .title-wrap {
  padding: 1rem;
  padding: 1rem;
  font-variant-caps: all-petite-caps;
  -webkit-animation: fadeIn 4s ease-in;
          animation: fadeIn 4s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
  .content-wrap .title-wrap .primary-title {
    font-size: 2em;
    font-weight: 800;
  }
  .content-wrap .title-wrap .secondary-title {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  .content-wrap .title-wrap .button-desktop {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .title-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content-wrap .title-wrap .primary-title {
    font-size: 2em;
  }
  .content-wrap .title-wrap .secondary-title {
    font-size: 1.5em;
  }
  .content-wrap .title-wrap .button-desktop {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  .content-wrap .title-wrap .primary-title {
    font-size: 6em;
  }
}

.content-wrap .illustration .phone-image-container {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  padding: 3rem;
  padding-bottom: 0;
}

.content-wrap .illustration .phone-image-container .image {
  position: relative;
  -webkit-animation: fadeInTop 1.5s ease-in both;
          animation: fadeInTop 1.5s ease-in both;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .illustration .phone-image-container .image {
    width: 180px;
    height: 350px;
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .illustration .phone-image-container .image {
    width: 220px;
    height: 420px;
  }
}

@media screen and (min-width: 1366px) {
  .content-wrap .illustration .phone-image-container .image {
    width: 330px;
    height: 600px;
  }
}

.content-wrap .illustration .shadow {
  position: absolute;
  height: 15px;
  background: #BDBF9E;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, var(--color-black-switch)), to(transparent));
  background: linear-gradient(to right, transparent 0%, var(--color-black-switch) 50%, transparent 100%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  border-radius: 100%;
  margin-top: 6rem;
  -webkit-animation: fadeInBottom 1.5s ease-in;
          animation: fadeInBottom 1.5s ease-in;
}

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .illustration .shadow {
    width: 150px;
    bottom: -50px;
    right: 50px;
    -webkit-animation: animateWidth 1.5s ease-in-out;
            animation: animateWidth 1.5s ease-in-out;
  }
  @-webkit-keyframes animateWidth {
    0% {
      width: 250px;
    }
    100% {
      width: 150px;
    }
  }
  @keyframes animateWidth {
    0% {
      width: 250px;
    }
    100% {
      width: 150px;
    }
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .illustration .shadow {
    width: 200px;
    bottom: -50px;
    -webkit-animation: animateWidth 1.5s ease-in-out;
            animation: animateWidth 1.5s ease-in-out;
  }
  @-webkit-keyframes animateWidth {
    0% {
      width: 300px;
    }
    100% {
      width: 200px;
    }
  }
  @keyframes animateWidth {
    0% {
      width: 300px;
    }
    100% {
      width: 200px;
    }
  }
}

@media screen and (min-width: 1366px) {
  .content-wrap .illustration .shadow {
    width: 250px;
    bottom: -50px;
    right: 50px;
    -webkit-animation: animateWidth 1.5s ease-in-out;
            animation: animateWidth 1.5s ease-in-out;
  }
  @-webkit-keyframes animateWidth {
    0% {
      width: 350px;
    }
    100% {
      width: 250px;
    }
  }
  @keyframes animateWidth {
    0% {
      width: 350px;
    }
    100% {
      width: 250px;
    }
  }
}

.content-wrap .illustration .decoration {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  z-index: -100;
  top: 0;
  left: -50px;
  background: var(--color-accent-theme);
  background: radial-gradient(ellipse at center, transparent 0%, var(--color-accent-theme) 0%, transparent 80%);
  -webkit-animation: fadeInLeft 1.5s ease-in both;
          animation: fadeInLeft 1.5s ease-in both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .illustration .decoration {
    min-width: 200px;
    min-height: 200px;
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .illustration .decoration {
    min-width: 250px;
    min-height: 250px;
  }
}

@media screen and (min-width: 1366px) {
  .content-wrap .illustration .decoration {
    min-width: 350px;
    min-height: 350px;
  }
}

.content-wrap .illustration .decoration-first {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: fadeInRight 1.5s ease-in both;
          animation: fadeInRight 1.5s ease-in both;
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .illustration .decoration-first {
    top: -10px;
    left: 120px;
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .illustration .decoration-first {
    top: -20px;
    left: 150px;
  }
}

@media screen and (min-width: 1366px) {
  .content-wrap .illustration .decoration-first {
    top: -30px;
    left: 200px;
  }
}

.content-wrap .illustration .decoration-second {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: fadeInLeft 1.5s ease-in both;
          animation: fadeInLeft 1.5s ease-in both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .illustration .decoration-second {
    top: 250px;
    left: -80px;
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .illustration .decoration-second {
    top: 280px;
    left: -120px;
  }
}

@media screen and (min-width: 1366px) {
  .content-wrap .illustration .decoration-second {
    top: 350px;
    left: -180px;
  }
}

@media screen and (min-width: 320px) {
  .content-wrap .button-mobile {
    display: block;
    margin-bottom: 3rem;
    margin-top: 6rem;
    -webkit-animation: fadeIn 4s ease-in;
            animation: fadeIn 4s ease-in;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 720px) {
  .content-wrap .button-mobile {
    display: none;
  }
}

.footer-wrap .footer-copyright {
  padding: 1.5rem;
  font-size: 0.8em;
}
/*# sourceMappingURL=styles.css.map */